body {
    font-family: Kodchasan;
    background-color: #17171B;
}

nav {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.nav-container {
    display: grid;
	grid-template-columns:  30% auto 30% ;
	grid-gap: 30px;
}

#nav-logo {
    grid-column: 1 / span 1;
    text-align: left;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#nav-logo a {
    text-decoration: none;
    color: #FFF;
}

#judjud {
    color: #FF9141;
}

#nav-main {
    grid-column: 3 / span 1;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

#nav-main a {
    text-align: center;
    height: 70px;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
}

#Portrait {
    width: 50px;
    background-color: #FFF;
    border-radius: 50%;
}

.main-container {
    display: grid;
	grid-template-columns:  30% auto auto 30% ;
	grid-gap: 30px;
}

.main-container > div {
    color: #D9D9D9;
}

#edithead {
    grid-column: 2 / span 2;
    text-align: center;
}

#edithead h1 {
    background: #FF9141;
    color: #17171B;
    border-radius: 10px;
}

#profiletopheadbox {
    grid-column: 2 / span 2;
    text-align: center;
    
}

#profiletopheadbox > input {
    background-color: #17171B;
    margin-bottom: 20px;
    width: 70%;
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 25px;
    padding-left: 30px;
}

#uploadpic {
    margin: 30px;
    background: #17171B;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    width: 60%;
    height: 30px;
    color: #FFF;
}

#update-btn {
    margin: 30px;
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 15px;
    width: 40%;
    height: 30px;
    color: #17171B;
}

#profileunderheadbox {
    grid-column: 2 / span 2;
    text-align: center;
    padding-right: 30px;

}

#profileunderheadbox > div > h3 {
    text-align: left;
}

#profileunderheadbox > div > input {
    background-color: #17171B;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 25px;
    padding-left: 30px;
    color: #FFF;
}

#profile-portait {
    width: 100%;
    height: 170px;
    flex-shrink: 0;
    border-radius: 260px;
}

#profile-portait img {
    width: 170px;
    height: 100%;
    border-radius: 260px;
}

#uploadpic {
    text-align: center;
}

#profiledetail {
    grid-column: 2 / span 2;
}

#profiledetail > div > h2 {
    margin-bottom: 0px;
}

#profiledetail > div > div > textarea{
    margin-top: 0px;
    width: 100%;
    height: 220px;
    padding: 20px;
    font-size: 16px;
    color: #FFF;
    background: #17171B;
    border: 2px solid #FFF;
    border-radius: 5px;
}

#save-btn {
    grid-column: 2 / span 2;
    text-align: center;
}

#save-btn button {
    margin: 30px;
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 15px;
    font-size: 24px;
    width: 40%;
    height: 40px;
    color: #17171B;
}

#browsePic{
	display: inline-block;
	margin-right: 3%;
}
#displayPic{
	/*display: inline-block;*/
	width:150px;
	height: 150px;

	/*background-color: #94A5AC;*/
}

img{
	width:100%;
	height: 100%;
    border-radius: 50px;
}

.hidden{
	display: none;
}

footer {
    display: flex;
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    color: #D9D9D9;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}