body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #17171B;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    width: 97%;
	display: grid;
	grid-template-columns: 30% auto 30%;
    grid-gap: 30px;
}

#search {
    margin-left: 20px;
}

#login-btn {
    margin-right: 20px;
    cursor: pointer;
}

#navigator {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }